.contact-us-card {
    padding: 20px;
    background-color: white;
    max-width: 350px;
    margin: 20px auto;
  }
  
  .contact-us-text {
    font-size: 16px;
    color: #555;
  }
  
  .highlight {
    color: #6B8E23;
    font-weight: bold;
  }
  